<div class="armor-card">
  <div class="armor-info armor-name">
    <p>{{name}}</p>
  </div>
  <div class="armor-info armor-stats">
    <p>
      {{localize "l5r4.armor.bonus"}}: {{data.bonus}}
    </p>
    <p>
      {{localize "l5r4.armor.reduction"}}: {{data.reduction}}
    </p>
  </div>
</div>