<div class="item-border {{type}}">
  <div class="armor-card item" data-item-id="{{_id}}">
    <div class="armor-info armor-name">
      {{#if inSheet}}
        <h3><a class="item-edit">{{name}}</a></h3>
      {{else}}
        {{name}}
      {{/if}}
    </div>
    <div class="armor-info armor-stats">
      <div class="armor-bonus">
        {{localize "l5r4.armor.bonus"}}: {{system.bonus}}
      </div>
      <div class="armor-reduction">
        {{localize "l5r4.armor.reduction"}}: {{system.reduction}}
      </div>
      {{#if inSheet}}
      <div>{{localize "l5r4.armor.equiped"}}?
        <input class="equiped-check inline-edit" data-field="system.equiped" type="checkbox" {{checked system.equiped}}
        data-type="Boolean" />
      </div>
      {{/if}}
    </div>
    {{#unless inSheet}}
      <div class="armor-effects">
        {{{system.description}}}
      </div>
    {{/unless}}
    {{#if inSheet}}
      <div>
        <a class="item-edit"  title="{{localize "l5r4.sheet.edit"}}"><i class="fas fa-edit fa-fw"></i></a>
      </div>
    {{/if}}
  </div>
</div>