<div class="item-border {{data.type}}">
  <div class="mastery-card item" data-item-id="{{_id}}">
    <div class="mastery-info mastery-name">
      <h3>
        {{#if inSheet}}
        <img width="15px" height="15px" src="icons/skills/trades/academics-study-reading-book.webp" />
        {{/if}}
        {{name}}
      </h3>
    </div>
    <div class="mastery-info mastery-stats">
      <div class="mastery-description">
        {{mastery}}
      </div>
    </div>
    {{#if inSheet}}
      <div>
        <a class="item-edit"  title="{{localize "l5r4.sheet.edit"}}"><i class="fas fa-edit fa-fw"></i></a>
      </div>
    {{/if}}
  </div>
</div>