<section class="spells-slots">
    <h4 class="slots-title">{{localize "l5r4.sheet.spellSlots"}}:</h4>
    <div class="water slots">
        <img src="systems/l5r4/assets/icons/water.png" title="{{localize "l5r4.rings.water"}}" />
        <input type="number" name="system.spellSlots.water" value="{{system.spellSlots.water}}" />
    </div>
    <div class="air slots">
        <img src="systems/l5r4/assets/icons/air.png" title="{{localize "l5r4.rings.air"}}" />
        <input type="number" name="system.spellSlots.air" value="{{system.spellSlots.air}}" />
    </div>
    <div class="fire slots">
        <img src="systems/l5r4/assets/icons/fire.png" title="{{localize "l5r4.rings.fire"}}" />
        <input type="number"name="system.spellSlots.fire" value="{{system.spellSlots.fire}}" />
    </div>
    <div class="earth slots">
        <img src="systems/l5r4/assets/icons/earth.png" title="{{localize "l5r4.rings.earth"}}" />
        <input type="number" name="system.spellSlots.earth" value="{{system.spellSlots.earth}}" />
    </div>
    <div class="void slots">
        <img src="systems/l5r4/assets/icons/void.png" title="{{localize "l5r4.rings.void"}}" />
        <input type="number" name="system.spellSlots.void" value="{{system.spellSlots.void}}" />
    </div>
</section>