<section>
  <label class="pc-info">
    <table align="center">
      <tr>
        <td>{{localize "l5r4.traits.name"}}</td>
        <td>
          <input type="text" name="name" value="{{actor.name}}" placeholder="Name" />
        </td>
        <td>{{localize "l5r4.traits.rank"}}</td>
        <td><input type="number" name="data.insight.rank" value="{{data.insight.rank}}" data-type="Number" /></td>
      </tr>
      <tr>
        <td>{{localize "l5r4.traits.clan"}}</td>
        <td><input name="data.clan" type="text" value="{{data.clan}}" /></td>
        <td>{{localize "l5r4.traits.xp"}}</td>
        <td><input type="number" name="data.xp" value="{{data.xp}}" data-type="Number" /></td>
      </tr>
      <tr>
        <td>{{localize "l5r4.traits.school"}}</td>
        <td><input type="text" name="data.school" value="{{data.school}}" data-type="String" /></td>
        <td>{{localize "l5r4.traits.insight"}}</td>
        <td><input type="number" name="data.insight.points" value="{{data.insight.points}}" data-type="Number" /></td>
      </tr>
    </table>
  </label>
  <label class="traits-rings">
    <div>
      <div class="sheet-col">
        <img class="ring-img" src="http://i.imgur.com/qkte4EC.png" />
        <h3>{{localize "l5r4.rings.air"}}   {{data.rings.air}}</h3>
      </div>
      <div>
        <p>{{localize "l5r4.traits.ref"}}</p>
        <input name="data.traits.ref" type="number" value='{{data.traits.ref}}' data-type="Number" />
      </div>
      <div>
        <p>{{localize "l5r4.traits.awa"}}</p>
        <input type="number" value='{{data.traits.awa}}' name="data.traits.awa" data-type="Number" />
      </div>
    </div>
    <div class="sheet-col" >
      <div>
        <img class="ring-img" src="http://i.imgur.com/bHoZ2zK.png" />
        <h3>{{localize "l5r4.rings.earth"}}   {{data.rings.earth}}</h3>
      </div>
      <div>
        <p>{{localize "l5r4.traits.sta"}}</p>
        <input type="number" value='{{data.traits.sta}}' name="data.traits.sta" data-type="Number" />
      </div>
      <div>
        <p>{{localize "l5r4.traits.wil"}}</p>
        <input type="number" value='{{data.traits.wil}}' name="data.traits.wil" data-type="Number" />
      </div>
    </div>
    <div class="sheet-col">
      <div>
        <img class="ring-img" src="http://i.imgur.com/7hVQbK7.png" />
        <h3>{{localize "l5r4.rings.fire"}}    {{data.rings.fire}}</h3>
      </div>
      <div>
        <p>{{localize "l5r4.traits.agi"}}</p>
        <input type="number" value='{{data.traits.agi}}' name="data.traits.agi" data-type="Number" />
      </div>
      <div>
        <p>{{localize "l5r4.traits.int"}}</p>
        <input type="number" value='{{data.traits.int}}' name="data.traits.int" data-type="Number" />
      </div>
    </div>
    <div class="sheet-col">
      <div class="attribute">
        <img class="ring-img" src="http://i.imgur.com/sOvpnaa.png" />
        <h3>{{localize "l5r4.rings.water"}}   {{data.rings.water}}</h3>
      </div>
      <div>
        <p>{{localize "l5r4.traits.str"}}</p>
        <input type="number" value='{{data.traits.str}}' name="data.traits.str" data-type="Number" />
      </div>
      <div>
        <p>{{localize "l5r4.traits.per"}}</p>
        <input type="number" value='{{data.traits.per}}' name="data.traits.per" data-type="Number" />
      </div>
    </div>
    <div class="sheet-col">
      <div class="attribute">
        <img class="ring-img" src="http://i.imgur.com/jnlStIs.png" />
        <h3>{{localize "l5r4.rings.void"}}</h3>
      </div>
      <div>
        <input type="number" name="data.rings.void.rank" value="{{data.rings.void.rank}}" data-type="Number" />
      </div>
      <div>
        <p>{{localize "l5r4.rings.voidPoints"}}</p>
        <input type="number" value='{{data.rings.void.value}}' name="data.rings.void.value" data-type="Number" />
      </div>
    </div>
  </label>
  
    {{> "systems/l5r4/templates/partials/pc-skills.hbs"}}
    {{> "systems/l5r4/templates/partials/pc-weapons.hbs"}}
  <h2>{{localize "l5r4.sheet.notes"}}</h2>
  <div class="misc"> 
    {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
    </div>
</section>