<div class="item-border {{data.type}}">
  <div class="weapon-card item" data-item-id="{{_id}}">
    <div class="weapon-info weapon-name">
      <h3>
        {{name}}
      </h3>
    </div>
    <div class="weapon-info weapon-stats">
      <div class="weapon-type">
        Type: {{data.attackType}}
      </div>
      <div class="weapon-damage">
        Damage: {{data.damageRoll}}k{{data.damageKeep}}
      </div>
    </div>
  </div>
</div>