<form>
  <div class="form-group">
    <label>{{localize "l5r4.rings.void"}}?</label>
    <input type="checkbox" name="void" />
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.mech.roll"}} {{localize "l5r4.mech.mod"}}?</label>
    <input type="number" name="rollMod" value="0" />
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.mech.keep"}} {{localize "l5r4.mech.mod"}}?</label>
    <input type="number" name="keepMod" value="0" />
  </div>
</form>