<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
  <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
  <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
  </header>
  <div>
  <table>
    <tr>
    <th>{{localize "l5r4.armor.bonus"}}</th>
    <th>{{localize "l5r4.armor.reduction"}}</th>
    </tr>
    <td>
    <input name="data.bonus" type="text" value="{{data.bonus}}" data-type="Number" />
    </td>
    <td>
    <input name="data.reduction" type="text" value="{{data.reduction}}" data-type="Number" />
    </td>
  </table>
  <textarea name="data.description">{{data.description}}</textarea>
  </div>
</form>
