<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
  <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
  <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
  </header>
  <div class="sheet-content">
  <table>
    <tr>
    <th>{{localize "l5r4.weapon.size"}}</th>
    <th>{{localize "l5r4.weapon.damageRoll"}}</th>
    <th>{{localize "l5r4.weapon.damageKeep"}}</th>
    </tr>
    <td>
    <input name="data.size" type="text" value="{{data.size}}" />
    </td>
    <td>
    <input name="data.damageRoll" type="number" value="{{data.damageRoll}}" data-type="Number" />
    </td>
    <td>
    <input name="data.damageKeep" type="number" value="{{data.damageKeep}}" data-type="Number" />
    </td>
  </table>
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
  </div>
</form>
